.title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    padding: 1.25rem 0px 1rem;
    margin: 0px;
    margin-left: -2%;
    line-height: 1.2;
    font-size: 70px;
    text-decoration: underline 2px;
    text-underline-position: under;

}

@media (max-width: 768px) {
    .title {
        font-size: xx-large;
        margin-left: auto;
    }
}

.text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25pc;
    padding: 1.25rem 0px 1rem;
    margin: 0px;
}

/* #root > div:nth-child(1) > div.withScreencast > div > div > div > section > div:nth-child(1) {
    background-color: #3498db;
    padding: 5px;
} */

/* #root > div:nth-child(1) > div.withScreencast > div > div > div > section.css-1cypcdb.e1fqkh3o11 > div.css-6qob1r.e1fqkh3o3 > div.css-1b9x38r.e1fqkh3o2 > button{
    visibility: hidden;
} */